.Container{
    height: 97.5vh;
    width: 98.5vw;
    background-color: #5C9CE5;
    background-image: url("./images/background3.jpg");
    background-size: contain;
    border-radius: 3rem;
    opacity: 80%;
    display: flex;
}

body{
    background-color: #5C9CE5;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}